# Dependencies
node_modules/
node_modules_old/

# Next.js
.next/
.next_old/

# Environment variables
.env*.local
.env.production

# Backup files
*.bak

# OS files
.DS_Store


echo "node_modules_temp/" >> .gitignore